xlrd
xlwt 
xlutils 
flask 
tqdm 
pandas 
camelot-py[cv] 
flask-migrate 
flask-sqlalchemy 
logger 
flask 
flask-login 
flask-bcrypt 
flask-login 
flask-wtf 
email-validator
flask-mail
PyJWT
pandas
WTForms==2.3.3
#tailwindcss
opencv-python-headless==4.1.2.30
reportlab
