{% extends 'base.html' %}
{% block nav %}
<script type="text/javascript" src="{{ url_for('static', filename='js/active.js') }}"></script>
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      
    </button>
    <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="{{ url_for('RetrieveDataList') }}">Users</a></li>
      <li class="nav-item"><a href="{{ url_for('RetrieveLogsList') }}">Logs</a></li>
   </ul>
    <ul class="nav navbar-nav navbar-right">
    <!--<li><a href="{{ url_for('change_password') }}">Password Expiring in{{ remaining_days }}days</a></li> --> 
      {% if current_user.is_authenticated %}
      <li class="nav-item"><a href="{{ url_for('logout_page') }}">Logout</a></li>
      {% else %}
      <li class="nav-item"><a href="/">Login</a></li>
      {% endif %}
    </ul>
  </div>  
</div>
<script type="text/javascript">
  $('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');
</script>
  <!--                                Nav btn                                                                     -->
<div class="backBtn">
      <span class="line tLine"></span>
      <span class="line mLine"></span>
      <span onclick="window.history.go(-1)" class="label" style="
  position: absolute;
  left: 0px;
  top: 5px;
  width: 100%;
  text-align: center;
  transition: all 0.4s ease;
  font-size: 1em;
  color: #333;
">Back</span>
      <span class="line bLine"></span>
  </div>
<!--                                Nav btn  Khatam                                                                    -->
{% endblock %}
