{% extends 'index.html' %}
{% block main %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:gray">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Please Create your Account
            </h1>
            <br>
            {{ form.password_old.label() }}
            {{ form.password_old(class="form-control", placeholder="Old Password") }}

            {{ form.password_new1.label() }}
            {{ form.password_new1(class="form-control", placeholder="Password") }}

            {{ form.password_new2.label() }}
            {{ form.password_new2(class="form-control", placeholder="Confirm Password") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}