{% extends 'admin.html' %}

{% block main %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Activity</th>
      <th scope="col">Timestamp</th>
    </tr>
  </thead>
  {% for log in logs %}
  <tbody>
    <tr>
      {% if log.username!=None %}
      <td>{{log.username}}</td>
      {% else %}
      <td><i>Deleted User</i></td>
      {% endif %}
      <td>{{log.Logs.activity}}</td>
      <td>{{log.Logs.dt_string}}</td>
    </tr>
  </tbody>
  {% endfor %}

</table>

{% endblock %}