{% extends 'admin.html' %}

{% block main %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      <th scope="col">Created At</th>
      <th scope="col">Is Active</th>
	</tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{user.id}}</th>
      <td>{{user.username}}</td>
      <td>{{user.role}}</td>
      <td>{{user.created_at}}</td>
      <td>{{user.is_active}}</td>

    </tr>
  </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}