{% extends 'admin.html' %}

{% block main %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      <th scope="col">Created At</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  {% for user in users %}
  
  <tbody>
    <tr>
      <th scope="row">{{user.id}}</th>
      <td>{{user.username}}</td>
      <td>{{user.role}}</td>
      <td>{{user.created_at}}</td>
      <td><a href="data/{{user.id}}" class="btn btn-info" tabindex="1" role="button">View</b></a></td>
      <td><a href="data/{{user.id}}/update" class="btn btn-warning" tabindex="1" role="button">Update</a></td>
      <!--<td><a href="data/{{user.id}}/delete" class="btn btn-secondary" tabindex="-1" role="button">Delete</a></td>-->
      <td>
      <form action="{{url_for('deactivate', user_id=user.id)}}" method="post">
      {% if user.id == current_user.id %}
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#statusModal{{user.username}}"disabled>
      {% else %}
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#statusModal{{user.username}}">
      {% endif %}
      {% if user.is_activate %}Deactivate{% else %}Activate{% endif %}
      </button>

      <div class="modal fade" id="statusModal{{user.username}}">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="statusModalTitle{{user.username}}">
                {% if user.is_activate %}Deactivating{% else %}Activating{% endif %} User
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to {% if user.is_activate %}deactivate{% else %}activate{% endif %} user <b>   {{user.username}}</b>?</p>
              <label for="reason">Reason for {% if user.is_activate %}deactivating{% else %}activating{% endif %} user:</label>
              <textarea class="form-control" name="reason" id="reason" required></textarea>
              <input type="hidden" name="is_activate" value="{{ not user.is_active }}">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <input type="submit" value="{% if user.is_activate %}Deactivate{% else %}Activate{% endif %}" class="btn    btn-danger">
            </div>
            </div>
          </div>
        </div>
      </form>
      </td>
      <td>
      {% if user.id != current_user.id %}  
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter{{user.username}}">Delete</button>
      {% else %}
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter{{user.username}}" disabled>Delete</button>
      {% endif %}
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter{{user.username}}">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle{{user.username}}">Deleting User Permanently</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- <h3>{{user.username}}?</h3> -->
                <form action="{{url_for('delete', user_id=user.id)}}" method="post">
                <p>Are you sure you want to delete user <b>{{user.username}}</b> permanently?</p>
                <label for="reason">Reason for deleting user:</label>
                <textarea class="form-control" name="reason" id="reason" required></textarea>
                <br>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <input type="submit" value="Delete" class="btn btn-danger">
                </form>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
{#% endif %#}
{% endfor %}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="{{url_for('register_page')}}" class="btn btn-success" role="button">Create User</a>

</td>

    </tr>
  </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}