{% extends 'base.html' %}
{% block nav%}
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li><a href="index">Home</a></li>
      <li style class="active"><a href="RScalc">RS</a></li>
      <li><a href="RSacyclovir">RS Acyclovir</a></li>
      <li><a href="Assay">Assay</a></li>
      <li><a href="Lcysteine">L Cysteine</a></li>
      <li><a href="Impvsimp">Impurity vs Impurity</a></li>
      <li><a href="Areanorm">Area Normalization</a></li>
    </ul>
        <ul class="nav navbar-nav navbar-right">
    <!--<li><a href="{{ url_for('change_password') }}">Password Expiring in{{ remaining_days }}days</a></li> --> 
      {% if current_user.role!='u' %}
      <li><a href="{{url_for('RetrieveDataList')}}">User Management</a></li>
      {% endif %}
      {% if current_user.is_authenticated %}
      <li><a href="logs">Logs</a></li>
      <li><a href="{{ url_for('logout_page') }}">Logout</a></li>
      {% else %}
      <li><a href="/">Login</a></li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
{% block main %}
<div class="container text-center">
  <div class="row content">

    <form action="/RScalc" method = "POST" enctype="multipart/form-data">
      <h1>RS Impurity Calculation</h1>
      <div class="col-sm-12 text-left pdnew">
        {% if output_file %}
          <a href="{{ url_for('file_download', output_folder = output_folder, output_file = output_file) }}" id= 'download'>Download {{ output_file }}</a>
        {% endif %}
        </div>
        <div class="col-sm-6 text-left">
            <div class="form-group">
              <label for="files">Select files:</label>
              <input type="file" id="files" name="files" multiple required>
            </div>
        </div>
       <div class="col-sm-6 text-left">
        <div class="form-group">
          <input type="radio" name="software" id = "software-s" value="Lab Solutions" required> <label for="shimadzu">Lab Solutions</label><br/>
          <input type="radio" name="software" id = "software-E" value="Empower"> <label for="shimadzu">Empower</label>
        </div>
       </div>
      <div class="col-sm-6 text-left">
        <div class="form-group">
		      <label>Compund Name:
		        <input list ="compounds" class="form-control" id="compound" name="compound" required>
          </label>
		      <datalist id="compounds">
		        <option value="Acetaminophen">
		        <option value="Bumetanide">
		        <option value="Acyclovir">
		        <option value="Famotidine">
		        <option value="Labetalol HCl">
		        <option value="5-HMF">
		        <option value="Phenylephrine HCl">
		        <option value="Ketorolac Tromethamine">
		        <option value="Bupivacaine HCl">
		        <option value="Folic Acid">
		        <option value="Hydralazine HCL">
		        <option value="Hydrazine">
		        <option value="Lacosamide">
		        <option value="Lidocaine HCl">
		        <option value="Milrinone Lactate">
		        <option value="5-HMF">
		        <option value="Pantoprazole Sodium">
		        <option value="Procainamide HCl">
		        <option value="Propofol ">
		        <option value="Ropivacaine HCl">
		        <option value="Thiamine HCl">
		        <option value="Doxycyline">
		        <option value="Micafungin ">
		        <option value="Norepinephrine">
		        <option value="Sulfonic Acid">
		        <option value="Olanzapine">
		        <option value="Levetiracetam"> 
		        <option value="Dantrolene Sodium">
		        <option value="Cyanocobalamin">
		        <option value="Azithromycin">
		        <option value="Monodechloro vancomycin">
          <!--<input type="text" class="form-control" id="compound" name="compound" required>       What i am doing is ki trying to fill things by text list so that ki input text bhi ho or dropdown b -->
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <div class="form-group">
          <label for="Concentration">Label Claim:</label>
          <input type="text" class="form-control" id="concentration" name="concentration" required>
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <div class="form-group">
          <label for="Sample weight">Standard weight:</label>
          <input type="text" class="form-control" id="sampleweight" name="sampleweight" required>
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <div class="form-group">
          <label for="V1">V1:</label>
          <input type="text" class="form-control" id="v1" name="v1" required>
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <div class="form-group">
          <label for="V2">V2:</label>
          <input type="text" class="form-control" id="v2" name="v2" required>
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <div class="form-group">
          <label for="V3">V3:</label>
          <input type="text" class="form-control" id="v3" name="v3" required>
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <div class="form-group">
          <label for="V4">V4:</label>
          <input type="text" class="form-control" id="v4" name="v4" required>
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <div class="form-group">
          <label for="V5">V5:</label>
          <input type="text" class="form-control" id="v5" name="v5" required>
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <div class="form-group">
          <label for="V6">V6:</label>
          <input type="text" class="form-control" id="v6" name="v6" required>
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <div class="form-group">
          <label for="V7">V7:</label>
          <input type="text" class="form-control" id="v7" name="v7" required>
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <div class="form-group">
          <label for="Factor 1">Factor 1:</label>
          <input type="text" class="form-control" id="factor1" name="factor1" required>
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <div class="form-group">
          <label for="Factor 2">Factor 2:</label>
          <input type="text" class="form-control" id="factor2" name="factor2" required>
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <div class="form-group">
          <label for="Potency">Potency:</label>
          <input type="text" class="form-control" id="potency" name="potency" required>
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <div class="form-group">
          <label for="doa">Date of analysis (DD-MM-YY):</label>
          <input type="text" class="form-control" id="doa" name="doa" required>
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <div class="form-group">
          <label for="mor">Method of reference:</label>
          <input type="text" class="form-control" id="mor" name="mor" required>
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <div class="form-group">
          <label for="WSID number">RS/WS ID number:</label>
          <input type="text" class="form-control" id="wsid" name="wsid" required>
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <div class="form-group">
          <label for="Use before date (DD-MM-YY)">Use before date (DD-MM-YY):</label>
          <input type="text" class="form-control" id="ubd" name="ubd" required>
        </div>
        </div>
      <div class="row content">
        <div class="col-sm-12 text-left pdnew" id = 'processImpurities'>
          <h2> Add Process Impurities</h2>
          <div class="col-sm-6 text-left" id ='InputsWrapper'>
            <div class="form-group row">
              <div class="col-xs-6"><input type="text" name="process_impurities[]" class="form-control name_list" /></div>
              <div class="col-xs-6"><button type="button" name="add" id="AddMoreFileBox" class="btn btn-success">Add </button></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 form-group text-left">
        <input type="submit" class="btn btn-success" id ='submit' onclick="return loading();">
        <input type="reset" class="btn btn-success" id ='reset'>
      </div>
    </form>
    <div class="col-sm-12 text-center pdload" id = "loading">
      <img src="{{ url_for('static', filename='img/loading.gif') }}">
    </div>
  </div>
</div>
<script type="text/javascript">// <![CDATA[
  function loading(){
      const inputFeilds = document.querySelectorAll("input");
      const validInputs = Array.from(inputFeilds).filter( input => input.value !== "");
      var ignorecompoundsDiv = document.getElementById('processImpurities');
      ignore_compounds= ignorecompoundsDiv.getElementsByTagName('input');
      valid_ignore_compounds = Array.from(ignore_compounds).filter( input => input.value !== "");
      ignore_compounds_len = valid_ignore_compounds.length;
      if(validInputs.length-2-ignore_compounds_len == 18 && ($('#software-s').is(':checked') || $('#software-E').is(':checked')))
      {
        $("#loading").show();
        $("#submit").hide();
        $("#reset").hide();
      }
      else{
        alert("Please fill all the fields");
        return false;
      }


  }
// ]]></script>
<script>
$(function () {
var MaxInputs       = 14; //maximum input boxes allowed
var InputsWrapper   = $("#InputsWrapper"); //Input boxes wrapper ID
var AddButton       = $("#AddMoreFileBox"); //Add button ID

var x = InputsWrapper.length; //initlal text box count
var FieldCount=1; //to keep track of text box added

$(AddButton).click(function (e)  //on add input button click
{
       if(x <= MaxInputs) //max input box allowed
       {
           FieldCount++; //text box added increment
           //add input box
           $(InputsWrapper).append('<div class="form-group row"><p class="col-xs-6"><input type="text" class="form-control skill_list" name="process_impurities[]" id="field_'+ FieldCount +'"/></p><a href="#" class="btn btn-danger removeclass">×</a></div>');
           x++; //text box increment
       }
return false;
});

$("body").on("click",".removeclass", function(e){ //user click on remove text
       if( x > 1 ) {
               $(this).parent('div').remove(); //remove text box
               x--; //decrement textbox
       }
return false;
})
});
</script>
{% endblock %}
